name = "affimark-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[env.production]
workers_dev = false
routes = [
  { pattern = "api.affimark.io/*", zone_name = "affimark.io" }
]

[triggers]
crons = ["0 2 * * *"]
